
<div id="loginpage">

<img src="/images/logo.png">
<h1>Hey {{user.username}}</h1>
<p>This is your home page</p>

<div>
  <form action="/search" method="POST">
  {{#if user.isConnected}}
      <button class="btn-grad-start" type="submit">Start!</button>
      {{else}}
      <button class="btn-grad-start" type="submit"disabled>Start!</button>
      <p>Go to your profile and connect to a friend</p>
    {{/if}}
  </form>
</div>

<a class="links" href="/profile">Profile</a>
<a class="links" href="/logout">Log Out</a>

</div>