<h1>Welcome to your profile {{username}} </h1> 

<h3> Edit your features </h3>

<form action="/profile" method="POST">
  <label> First Name : </label>
  <input type="text" name="name" id="name">
  <label> Last Name :</label>
  <input type="text" name="lastName" id="lastName">
  <label> Email: </label>
  <input type="email" name="email" id="email">
  <label> Password </label>
  <input type="password" name="password" id="password">
  <label> Profile picture </label>
  <input type="image" name="image" id="image">

<label> Connect yourself to: </label>
<input type="text" name="username" id="username">

   <button type="submit"> Update your info</button>
</form>


