

         @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
 


         /* MAIN PAGE *******************************************************************/
         .btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
            border-style: none;
            width: 195px;
            height: 60px;
            margin-top: 30%;
            margin-left: 42% !important;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
          
          
          .mainpic {
            height: 690px;
            background-image: url("../images/backgroundpic.jpg");
            background-size: cover;
            display: flex;
          }
          

          @media only screen and (max-width: 812px) {
            /* For mobile phones: */
            [class*="mainpic"] {
              width: 100%;
              height: 780px;
            }
            [class*="btn-grad"]{
              margin-top: 100%;
              margin-left: 25% !important;
            }
            [class*="navbar-nav"]{
              margin-right: 50% !important;
            }
          }
  

        .navbar {
          position: absolute !important;
          background: transparent !important;
          width: 100% !important;
          margin-top: 20px;
        }

        .navbar-brand {
          color: white !important;
          font-size: 30px !important;
          /* margin-right: 85% !important; */
        }

        .login {
          background: white;
          color: #FF512F;
          padding-left: 15px !important;
          padding: 9px 15px;
          border-radius: 7px;
        }

        .login:hover {
          text-decoration: none;
          background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
          color: white !important;
          border-radius: 7px;
        }


          /* LOG IN PAGE *******************************************************************/
       
        #loginpage {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

  

        #formlogin {
          margin-top: 10px;
          width: 250px;
          text-align: center !important;
        }

        #formlogin label{
          margin-bottom: 10px;
        }


        .account-message {
          margin-top: 10px;
          margin-bottom: 1rem;
          width: 226px;
        }

        .btn-grad-login {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
        .btn-grad-login {
           margin: 10px 50px;
           padding: 15px 45px;
           text-align: center;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 200% auto;
           color: white;            
           border-radius: 10px;
           display: block;
           border-style: none;

         }

         .btn-grad-login:hover {
           background-position: right center; 
           color: #fff;
           text-decoration: none;
         }

         #formlogin a:hover{
           text-decoration: none;
           color:#FF512F;
         }

          /* SIGN IN PAGE *******************************************************************/
      
         .btn-grad-sign {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
        .btn-grad-sign {
           margin: 10px 40px;
           padding: 15px 45px;
           text-align: center;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 200% auto;
           color: white;            
           border-radius: 10px;
           display: block;
           border-style: none;

         }

         .btn-grad-sign:hover {
           background-position: right center; 
           color: #fff;
           text-decoration: none;
         }

           /* DASHBOARD PAGE *******************************************************************/

         .btn-grad-start{background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
          .btn-grad-start {
             margin: 10px 40px;
             padding: 15px 45px;
             text-align: center;
             text-transform: uppercase;
             transition: 0.5s;
             background-size: 200% auto;
             color: white;            
             border-radius: 10px;
             display: block;
             border-style: none;
           }
           .btn-grad-start:hover {
            background-position: right center; 
            color: #fff;
            text-decoration: none;
          }
         
          .links {
            text-decoration: none;
            color:#FF512F;
          }

     /* EDIT PAGE *******************************************************************/

     #email {
       width: 290px;
     }

     .btn-grad-edit{background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
     .btn-grad-edit {
        margin: 10px 40px;
        padding: 15px 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        border-radius: 10px;
        display: block;
        border-style: none;
      }
      .btn-grad-edit:hover {
       background-position: right center; 
       color: #fff;
       text-decoration: none;
     }

          /* RESTAURANTS PAGE *******************************************************************/

          #likeornot{
            display: inline-flex;
          }

          .btn-like{
            margin-right: 10px;
            background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
            padding: 15px 25px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
            border-style: none;
          }
          .btn-like:hover {
            background-position: right center; 
            color: #fff;
            text-decoration: none;
          }


                    /* MATCHED PAGE *******************************************************************/

                    .card {
                      
                    }